.DS_Store
.env
.yarn/
*.tgz
*/.DS_Store
auth_info*.json
baileys_auth_info*
baileys_store*.json
browser-messages.json
browser-token.json
decoded-ws.json
docs
lib
messages*.json
node_modules
output.csv
Proxy
test.ts
TestData
wa-logs.txt