node_modules
auth_info*.json
baileys_auth_info*
baileys_store*.json
output.csv
*/.DS_Store
.DS_Store
.env
browser-messages.json
decoded-ws.json
lib
docs
browser-token.json
Proxy
messages*.json
test.ts
TestData