name: Publish Release

on:
  push:
    tags:
      - 'v*'

permissions: write-all

jobs:
  publish-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Fetching tags
        run: git fetch --tags -f || true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GPR_TOKEN }}

      - name: Enable Corepack and Set Yarn Version
        run: |
          corepack enable
          corepack prepare yarn@4.x --activate

      - name: Restore Yarn Cache
        uses: actions/cache@v6
        id: yarn-cache
        with:
          path: .yarn/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn install --immutable
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GPR_TOKEN }}

      - name: Publish in NPM (as `baileys`)
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GPR_TOKEN }}

      - name: Publish in NPM (jetsales scope)
        run: |
          npx json -I -f package.json -e "this.name='@jetsales/baileys'"
          npm publish --access public --//registry.npmjs.org/:_authToken=$GPR_TOKEN
          npx json -I -f package.json -e "this.name='baileys'"
        env:
          GPR_TOKEN: ${{ secrets.GPR_TOKEN }}